@{
    ViewData["Title"] = "Contact";
}

<h1>Hoe meld je je aan?</
<h1>
<p>
U kunt zich aanmelden door een mail te sturen naar info@orthopedagoog.nl en u kunt ook uw gegevens achterlaten via het contactformulier wat hieronder te vinden is. Ook zijn we bereikbaar via dit telefoonnummer +316-12345678! Wij zullen dan een afspraak inplannen voor een kennismakingsgesprek.
Als het kennismakingsgesprek goed is verlopen en u bent begonnen met het proces zijn er een aantal hulpmiddelen waar u gebruik van kunt maken.
Bij de chat functie kunt u uw huidige hulpverlener contacten door op de naam te klikken die verschijnt en u kunt meteen uw chat bericht versturen. Uw huidige hulpverlener krijgt deze dan binnen en u chat dan volledig privé met uw hulpverlener en u kunt altijd terecht met uw problemen.
Ook is er een groepschat waar u aan kunt deelnemen, als u hiervoor kiest kunt uw hulpverlener u toevoegen aan de groep. In deze groep zitten allemaal andere kinderen die met vergelijkbare problemen zitten en deze kinderen kunnen uw kind dan ook ondersteunen!
</p>
