<!--Hierzo misschien de 10 met de meeste deelnemers-->

<div class="groups b-small">
    <div class="group row">
        <h3>Groep 1</h3>
        <p>Beschrijving van de groep</p>
    </div>
    <div class="group row">
        <h3>Groep 2</h3>
        <p>Beschrijving van de groep</p>
    </div>
    <div class="group row">
        <h3>Groep 3</h3>
        <p>Beschrijving van de groep</p>
    </div>
    <div class="group row">
        <h3>Groep 4</h3>
        <p>Beschrijving van de groep</p>
    </div>
    <div class="group row">
        <h3>Groep 5</h3>
        <p>Beschrijving van de groep</p>
    </div>
</div>