@{
    ViewData["Title"] = "Groep toevoegen";
}
@model List<Chat>

<h1 class="text-center">Voeg een groep toe</h1>
<p style="font-size:large" class="text-center">Voeg een nieuwe Groep toe aan jouw lijst</p>
<form asp-action= "GroepToevoegen" method = "get" class="filter-box">
    <table>
        <tbody>
        <tr>
            <td><label>Zoek op naam</label></td>
            <td><input name="Naam" type="text" placeholder="Naam groep"/></td>
        </tr>
        <tr>
            <td><label> Zoeken op beschrijving</label></td>
            <td><input name="Beschrijving" type="text" placeholder="beschrijving groep"/></td>
        </tr>
        <tr>
            <td label for="LijstMetOnderwerpen">Zoek onderwerp</td>
            <td>
                <select name="Onderwerp" type="text">
                    <option value="School">School</option>
                    <option value="Depressief">Depressief</option>
                    <option value="Slaaptekort">Slaaptekort</option>
                    <option value="ADD">ADD</option>
                    <option value="ADHD">ADHD</option>
                    <option value="Traumas">Traumas</option>
                    <option value="Autisme">Autisme</option>
                    <option value="">Alle onderwerpen</option>
                </select>
                </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Zoek" alt="Zoek in lijst van groepen" class="btn btn-primary">
</form>

<!--Dit moet later nog aangepast worden dat je daadwerkelijk kan joinen-->
<div class="groups b-large">
@foreach (var groep in Model)
{
    <div class="group">
        <h3>@groep.Naam</h3>
        <p>@groep.Beschrijving</p>
        <form action="JoinChat" method='post'>
            <input type="Hidden" value="@groep.Id" name="Id"/>
            <input type="submit" value="Neem deel aan de groep">
        </form>
        </div>
}
</div>
