@{
    ViewData["Title"] = "Groep toevoegen";
}
@model List<Chat>

<h1 class="text-center">Voeg een groep toe</h1>
<p style="font-size:large" class="text-center">Voeg een nieuwe Groep toe aan jouw lijst</p>
<form class="filter-box">
    <table>
        <tbody>
        <tr>
            <td><label for="zoekBalkNaam">Zoek op naam</label></td>
            <td><input id="zoekBalkNaam" type="text" placeholder="Naam groep" aria-label="zoek op naam van de Groep"/></td>
        </tr>
            <tr>
                <td><label for="zoekBalkBeschrijving"> Zoeken op beschrijving</label></td>
                <td><input id="zoekBalkBeschrijving" type="text"placeholder="beschrijving groep" aria-label="zoek op de beschrijving van de groep"/></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Zoek" aria-label="Zoek in lijst van groepen" class="btn btn-primary">
</form>

<!--Dit moet later nog aangepast worden dat je daadwerkelijk kan joinen-->
<div class="groups b-large">
@foreach (var groep in Model)
{
    <div class="group">
        <h3>@groep.Naam</h3>
        <p>@groep.Beschrijving</p>
        <form action="JoinChat" method='post'>
            <input type="Hidden" value="@groep.Id" name="Id"/>
            <input type="submit" value="Neem deel aan @groep.Naam">
        </form>
        </div>
}
</div>
