    @{
    ViewData["Title"] = "Dashboard";
}
    @model List<Chat>
    <h1 class="text-center">Welkom terug!</h1>    
    <img src="~/img/banner.png" class="waas img-responsive" alt="Bannerfoto met mensen in gesprek">

    <h2>Wat wilt u doen?</h2>
    <div class = "row">
        <a class="main-knop btn btn-primary" asp-action="GroepToevoegen" alt="Een groep toevoegen aan uw lijst"> Groep toevoegen</a>
        <button class="main-knop btn btn-primary">Chat met mijn Pedagoog</button>
        <button class="main-knop btn btn-primary">Praat annoniem</button>
        
        <a class="main-knop btn btn-primary" asp-action="GroepAanmaken" alt="Maak een nieuwe groep aan"> Groep aanmaken</a>
    </div>


<h3>Mijn chatgroepen</h3>
    <partial name="_ZelfhulpgroepenPartial" model=@Model/> 
