    @{
    ViewData["Title"] = "Dashboard";
}
    @model List<Chat>
        <div class="container">
        <h1 class="text-center">Welkom terug!</h1>    
        <img src="~/img/banner.png" class="waas img-responsive" aria-label="Bannerfoto met mensen in gesprek">

        <h2>Wat wilt u doen?</h2>
        <div class = "row">
            <a class="main-knop btn btn-primary" asp-action="GroepToevoegen" aria-label="Een groep toevoegen aan uw lijst"> Groep toevoegen</a>
            @if((bool)ViewData["IsModerator"]){
            <a class="main-knop btn btn-primary" asp-action="MaakZelfhulpgroep" aria-label="Maak een nieuwe groep aan"> Groep aanmaken</a>
            <a class="main-knop btn btn-primary" asp-controller="Client" asp-action="Index" aria-label="Chats met Clienten">Chats met Clienten</a>
            }else{
            @if((bool)ViewData["HeeftPriveChat"]){
            <a class="main-knop btn btn-primary" asp-action="GaNaarPriveChat" aria-label="Ga naar de chat met jouw pedagoog">Chat met pedagoog</a>
            }
            <button class="main-knop btn btn-primary">Praat annoniem</button>
            }
        </div>


    <h3>Mijn chatgroepen</h3>
        <partial name="_ZelfhulpgroepenPartial" model=@Model/> 
</div>
