@model Chat
<div class="row">
    <div class="col-md-4">
        <form asp-action="">
            <label asp-for="Naam">
                <input asp-for="Naam" type="text"/>
            </label>

            <label asp-for="Beschrijving">
                <input asp-for="Beschrijving" type="text"/>
            </label>
            
            <input type="submit" value="maak nieuwe groep aan">
</form>
    </div>
</div>