    <h1 class="text-center">Welkom terug!</h1>    
    <img src="~/img/banner.png" class="waas" alt="Bannerfoto met mensen in gesprek">

    <h2>Wat wilt u doen?</h2>
    <div class = "row">
    <form>
        <label for="chat-pedagoog"> Chatten met de pedagoog
            <input id="chat-pedagoog" type="submit" value="Chat met pegagoog"/>
        </label> 
    </form>
     </div> 

    <div class="Hier_komt_een_partial">
