@{
    ViewData["Title"] = "Groep toevoegen";
}
@model List<Chat>

<h1 class="text-center">Voeg een groep toe</h1>
<form class="filter-box">
    <input>
</form>

<partial name="_ZelfhulpgroepenPartial"/> 
