@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
}

<div class="container p-5">
    <h1>Zorg Maatschap Den Haag</h1>
    <a aria-label="straatnaam">Lijnbaan 32</a>
    <br />
    <a aria-label="postcode">2512VA</a>
    <br />
    <a aria-label="Provincie">Den Haag</a>
    <br />
    <a aria-label="Telefoonnummer">070-3302011</a>
</div>