@{
    ViewData["Title"] = "Home Page";
}
<div class="begin_foto">
    <img class="waas" src="img/Main_afbeelding.png" alt="Vrouw legt kind iets uit">
    <h1 class="centered">Pedagogiek naam</h1>
</div>