@{
    ViewData["Title"] = "Home Page";
}
<div class="begin_foto">
    <img class="waas" src="img/Main_afbeelding.png" alt="Vrouw legt kind iets uit">
    <h1 class="centered">Pedagogiek naam</h1>
    <p>Heeft uw kind moeite met studeren, concentreren of andere activiteiten en weet u hier geen raad mee? Heeft u hierdoor ook moeite met het geven van de juist hulp tijdens de opvoeding? Dan kunnen wij u helpen!

Wij hebben 4 specialisten op elk gebied die u en uw kind kunnen helpen met persoonlijke begeleiding. Deze hulp zorgt ervoor dat u de perfecte hulp krijgt in de opvoeding van uw kind!
Als u zenuwachtig bent voor het kennismakingsgesprek, dan geen zorgen hier hebben wij een aantal tips hoe jij je het beste kunt voorbereiden!''</p>
<ul>
    <li>
        Oefen door jezelf voor te stellen voor de spiegel
    </li>
    <li>
        Schrijf op waar je het over wilt hebben
    </li> 
    <li>
        Zorg ervoor dat je op tijd komt, als je te laat weg gaat kan dit voor extra spanning zorgen
    </li>
</ul>
<p>
Als het blijkt aan de hand van het kennismakingsgesprek niet klikt, kunnen wij u helpen met het zoeken naar iemand anders en we hebben zelf uiteraard op nog andere medewerkers die misschien beter geschikt zijn!
</p>
</div>