@{
    ViewData["Title"] = "Home Page";
}
<div class="p-5 mb-2 bg-light rounded-3" style="background-image: url(/img/education.jpg); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;">
    <div class="container-fluid py-5">
    </div>
</div>

<div class="container p-2">
    <div class="d-flex justify-content-end align-items-center align-middle">
        <div class="align-middle">
                <spand class="align-middle p-2">Pas de textgrootte aan</spand>    
        </div>
        <div>
            <button onClick="font('a');" class="btn btn-success" id="increase-plugin-ac">A+</button>
            <button onClick="font('d');" class="btn btn-success" id="decrease-plugin-ac">A-</button>
        </div>
    </div>
</div>

<div class="d-none d-sm-block">
    <div class="d-flex flex-wrap justify-content-center text-white">
        <div class="col-md-2 text-center rounded-left" style="background-color: #007a78;">
            <div class="m-5 mx-auto d-block" style="width:40%; background-color: #FFFFFF; border-radius: 100px; padding: 15px;">
                <img src="~/img/icon1.svg" style="" alt="2 handen met hartjes" />
            </div>
            <h4 class="font-weight-bold p-3">Voor wie</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. efficitur lobortis purus. In hac habitasse platea dictumst. Maecenas finibus, magna sed consequat aliquet, tellus ex sagittis nulla, id gravida sapien est nec nibh.</p>
        </div>
        <div class="col-md-2 text-center" style="background-color: #1b365d">
            <div class="m-5 mx-auto d-block" style="width:40%; background-color: #FFFFFF; border-radius: 100px; padding: 15px;">
                <img src="~/img/icon2.svg" alt="2 blaadjes" />
            </div>
            <h4 class="font-weight-bold p-3 text-white">Online Chats</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. efficitur lobortis purus. In hac habitasse platea dictumst. Maecenas finibus, magna sed consequat aliquet, tellus ex sagittis nulla, id gravida sapien est nec nibh.</p>
        </div>
        <div class="col-md-2 text-center" style="background-color: #007a78">
            <div class="m-5 mx-auto d-block" style="width:40%; background-color: #FFFFFF; border-radius: 100px; padding: 15px;">
                <img src="~/img/icon3.svg" alt="kruis" />
            </div>
            <h4 class="font-weight-bold p-3 text-white">GZ-psychologen</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. efficitur lobortis purus. In hac habitasse platea dictumst. Maecenas finibus, magna sed consequat aliquet, tellus ex sagittis nulla, id gravida sapien est nec nibh.</p>
        </div>
        <div class="col-md-2 text-center rounded-right" style="background-color: #1b365d">
            <div class="m-5 mx-auto d-block" style="width:40%; background-color: #FFFFFF; border-radius: 100px; padding: 15px;">
                <img src="~/img/icon4.svg" alt="pill" />
            </div>
            <h4 class="font-weight-bold p-3 text-white">Integratieve therapie</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. efficitur lobortis purus. In hac habitasse platea dictumst. Maecenas finibus, magna sed consequat aliquet, tellus ex sagittis nulla, id gravida sapien est nec nibh.</p>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center p-5">

    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top" src="~/img/pedagoog.jpg" alt="Kind met handen op hoofd">
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wij zijn een praktijk bestaande uit gemotiveerde en enthousiaste orthopedagogen en psychologen</h5>
                <p class="card-text">
                    <div>
                        Zorg Maatschap Den Haag biedt hulp gericht op de ontwikkeling van kinderen en jongeren van 4 t/m 18 jaar. Het aanbod bestaat uit diagnostiek en behandeling van schoolproblematiek, gedrags- en sociaal-emotionele problemen.
                        Wij bieden zowel vergoede zorg ( jeugdwet ggz en jeugdwet dyslexie) via onze contracten met verschillende gemeentes. In Amsterdam Amstelland en Zaanstreek Waterland en hebben wij een contract met de gemeente voor segment B zorg en vergoede dyslexiezorg. Voor de regio’s Utrecht West en Amersfoort bieden wij (basis)generalistische zorg en vergoede dyslexiezorg.
                        Wij verzorgen hulp zowel bij ouders en kinderen thuis, op onze verschillende locaties, en op scholen binnen de regio’s Amsterdam Amstelland, Zaanstreek Waterland , Gooi en Vechtstreek, Amersfoort en Utrecht-west.
                        Wij hebben verschillende aanpassingen gedaan op onze locaties, zodat deze ingericht zijn op de 1.5 meter-maatschappij. Wij hanteren de hoogst mogelijke hygiënevoorschriften en houden ons aan de richtlijnen van het RIVM.
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="d-flex flex-wrap justify-content-center p-2">
    <div class="col-lg-3 p-2">
        <div class="card">
            <img src="~/img/mesurechild.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kinderen</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 p-2">
        <div class="card">
            <img src="~/img/kids.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jongeren tot 16</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 p-2">
        <div class="card">
            <img src="~/img/college.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jong Volwassenen</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
