@{
    ViewData["Title"] = "Home Page";
}
<div class="p-5 mb-4 bg-light rounded-3" style="background-image: url(https://nursing.ucsf.edu/sites/nursing.ucsf.edu/files/styles/hero_image/public/2020-12/master-science%402x.jpg?itok=7unclp_F); background-position: center center; background-repeat: no-repeat; background-size: cover;">
      <div class="container-fluid py-5">
      </div>
    </div>

<div class="container mt-4">
    <div class="row col-auto">
        <div class="col">
            <ul class="list-group list-group">
                <li class="list-group-item">
                    <p><h2>Nieuws</h2></p>
                    </li>
                <li class="list-group-item">'Jongere miste vooral bezigheden buitenshuis'</li>
                <li class="list-group-item">'Pandemie heeft verontrustende impact op jongeren'</li>
                <li class="list-group-item">‘Pas vanaf 9 jaar worden kinderen echt empathisch’</li>
                <li class="list-group-item">'Is je kind verlegen? Zo sleep je het door de feestdagen heen'</li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group list-group">
                <li class="list-group-item fw-bold fs-1">
                    <p class="fw-bold"><h2>Cursussen en trainingen</h2></p>
                    </li>
                <li class="list-group-item">Kindercoaching</li>
                <li class="list-group-item">Pedagogisch coach</li>
                <li class="list-group-item">Omgaan met stress en spanning</li>
                <li class="list-group-item">Effectief met ADHD</li>
            </ul>
        </div>
    </div>
</div>